<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Password Reset</title>
    </head>
    <body>
        <div class="ui-form">
            <h2 class="title">Password Reset Error</h2>
            <h3>{{.ErrorMsg}}</h3>
                <p>
                  <a href="/api/reset-password/{{.ResetPassToken}}">Click here to try again</a>
                </p>
        </div>
    </body>
</html>
