<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Password Reset </title>
    </head>
    <body>
        <div class="ui-form">
            <h2 class="title">Password Reset Complete</h2>
            <h3>You've successfully changed your password!</h3>
                <p>
                    <a href="http://localhost:3000/loginForm">Click here to login</a>
                </p>
        </div>
    </body>
</html>
