<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Reset Password</title>
    </head>

    <body>
        <div class="ui-form">
            <form action="/api/update-password/{{.ResetPassToken}}" method="POST"> 
            <h2 class="title">Enter new password</h2>
            <p>Please enter your new password twice so we can verify you typed in correctly.</p>
          <div class="inline field">
                  <label for="password">New password: </label>
                  <input type="password" name="newPw" placeholder="New password" />               
          </div>
          <div class="inline field">
                <label for="password">Confirm password: </label>
                <input type="password" name="confirmPw" placeholder="Confirm password" />               
        </div>
          <button type="submit">Change my password</button>
            </form>
        </div>
    </body>

</html>
